{{ define "main" }}
<div class="uv-rounds">  
    <header>
        {{ partial "topbar.html" . }}
        {{ partial "navigation.html" (dict "page" "certification" ) }}
    </header>
    <div class="inner-banner">
        <img src="/images/certification.jpg" alt="team">
    </div> 
    <div class="team-quote">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 centered-on-mobile">
                    <img src="/images/iso9001.jpg" class="ideas-image" alt="ISO 9001 Certified" />
                </div>
                <div class="col-sm-12 col-md-6">
                    <h1>
                        Continua operates within a certified ISO9001:2015 management system to ensure ongoing customer satisfaction and continued improvement
                    </h1>
                </div>
            </div>
        </div>
    </div> 
    <div class="team-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="m-bottom">ISO 9001:2015 Certification<span class="all-level">15 June 2018 - 15th June 2021</span></h1>
                </div><!-- /.col-sm-12 -->                
                <div class="col-sm-12 centered">
                  <img src="/images/ISO90012015-Certificate.jpg" alt="ISO 9001:2015 Certification" /> 
                </div>
            </div>
        </div>
    </div>
    {{ partial "footer.html" . }}
</div>
{{ end }}