{{ define "main" }}
<div class="uv-rounds">  
    <header>
        {{ partial "topbar.html" . }}
        {{ partial "navigation.html" (dict "page" "team" ) }}
    </header>
    <div class="inner-banner">
        <img src="/images/team.jpg" alt="team">
        <h2 class="team"><div>Our Team</div></h2>
    </div> 
    <div class="team-quote">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <h1>
                        With an established network of highly experienced and independent professionals Continua builds bespoke teams to meet project objectives
                    </h1>
                </div>
                <div class="col-sm-12 col-md-6">
                    <img src="/images/ideas.jpg" class="ideas-image" alt="ideas" />
                </div>
            </div>
        </div>
    </div> 
    <div class="team-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="m-bottom">Core Team<span class="all-level">Meet Continuas Associates</span></h1>
                </div><!-- /.col-sm-12 -->                
                {{ partial "associates" . }}
            </div>
        </div>
    </div>
    <div class="team-section owner-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="m-bottom">Core Team<span class="all-level">Meet Continuas Owner</span></h1>
                </div><!-- /.col-sm-12 -->                
                {{ partial "owner" . }}
            </div>
        </div>
    </div>
    {{ partial "footer.html" . }}
</div>
{{ end }}