{{ define "main" }}
<div class="uv-rounds">  
  <header>
      {{ partial "topbar.html" . }}
      {{ partial "navigation.html" (dict "page" "news" ) }}
  </header>    
  <!-- ============== Start up section ============== -->

    <div class="inner-banner large-section-padding continua-news bg-purple">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 w100">
            <img class="block" src="{{ .Params.companyLogo.image }}" style="float: none; width: auto;"/>
            <hr style="background-color: white; border-color: white;"/>
            <p class="text-white" >{{.Params.company.name }}<br/>
            {{.Params.company.location }}</p>

        </div>
      <div class="col-md-6 col-lg-7 col-lg-offset-1 m48">
            <h1 class="text-white h2" style="margin-top: 0px; margin-bottom: 35px;">{{ .Title }}<span class="all-level">{{ .Params.subtitle }}</span></h1>
            <div class="text-white">{{ .Content }}</div>
        </div>


      </div><!-- /.row -->
      </div><!-- /.container -->
    </div>

    <!-- <div class="collab-images what-we">
        <div id="collab-carousel" class="owl-theme">
            {{ range .Params.images }}
                <img class="item" src="{{ .image }}" alt="{{ .alt }}">
            {{ end }}
        </div>
    </div> -->

    <div class="collab-images what-we">
      <div id="collab-carousel" class="slider glide glide--ltr glide--slider glide--swipeable">
        <div class="glide__track" data-glide-el="track">
          <ul class="glide__slides">
            {{ range .Params.images }}
            <img class="slide__slide" src="{{ .image }}" alt="{{ .alt }}">
            {{ end }}
          </ul>
        </div>
        <div data-glide-el="controls" class="carousel-controls">
          <button data-glide-dir="<" class="carousel-button">
            <img alt="Prev" src="../../images/icn_collab_arrow.svg"/ style="transform: rotate(180deg);">
          </button>
          <button data-glide-dir=">" class="carousel-button">
            <img alt="Next" src="../../images/icn_collab_arrow.svg"/>
          </button>
        </div>
      </div>
    </div>


    <div class="feedback what-we bg-lightpurple">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 w100">
              <h3 class="h2" style="margin-top: 0px;">What {{ .Params.company.name }} had to say</h3>
          </div>
        <div class="col-md-6 col-lg-7 col-lg-offset-1 col-sm-12">
              <p>{{ .Params.feedback.feedback | markdownify }}</p>
              <br/>
              <br/>
              <p><b>{{ .Params.feedback.name }}</b></p>
              <p>{{ .Params.feedback.position}}, {{ .Params.company.name }}</p>
          </div>
  
  
        </div>
      </div>
    </div>

    <!-- ============== collaborations section ============== -->

    <div class="what-we portfolio-grid">
      <div class="container">
        <div class="row">
          <div class="portfolio-items-wrapper ">
            {{ range first 3 (shuffle ( where ( where (where .Site.Pages "Section" "collaborations") "Title" "!=" .Title ) "Title" "!=" "Collaborations" )) }}
              {{ partial "collab-item.html" . }}
            {{ end }}
            </div><!-- /.portfolio-items-wrapper -->
        </div><!-- /.row -->
        <div class="call-to-action">
          <a class="text-white more-button" href="/collaborations">View all collaborations</a>
        </div>        </div><!-- /.container -->
    </div><!-- /.portfolio-mansory -->



  {{ partial "footer.html" . }}
</div>
{{end}}


