<!doctype html>
<html lang="en" class="no-js">
<head>
<!-- Meta tags -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<!-- Meta tags end -->

<link href="https://fonts.googleapis.com/css?family=Karla:400,400i|Raleway:900" rel="stylesheet">

<!-- Stylesheets starts here -->
<link rel="shortcut icon" href="/images/icons/fevi.png" >
<link rel="stylesheet" href="/css/bootstrap.css"  />
<link rel="stylesheet" href="/css/isotope-docs.css"/>
<link rel="stylesheet" href="/css/font-awesome.css" />
<link rel="stylesheet" href="/css/owl.transitions.css" />
<link rel="stylesheet" href="/css/owl.carousel.css" />
<link rel="stylesheet" href="/css/custom.css" />
<!-- Stylesheets ends here -->

<title>Continua Solutions LLC.</title>
</head>
<!-- head end -->
<body>

{{ partial "social-media.html" . }}

{{ block "main" . }}
{{ end }}


<!-- JavaScripts Starts here -->
<script src="/js/jquery1.11.3.min.js"></script>
<script src="/js/modernizr-2.8.3-respond-1.4.2.min.js"></script>
<script src="/js/bootstrap.js"></script>

<!-- BX-slider -->
<script src="/js/owl.carousel.js"></script>
<script src="/js/jquery.bxslider.js"></script>
<script src="/js/data-counter.js"></script>
<script src="/js/custom.js"></script>

<script type='text/javascript' src='/js/jquery.animsition.min.js'></script> 
<script type='text/javascript' src='/js/superfish.js'></script> 
<script type='text/javascript' src='/js/bplus_custom.js'></script> 
<script type='text/javascript' src="/js/isotope-docs.min.js"></script>
<script type='text/javascript' src="/js/jquery.hoverdir.js"></script>

<!-- Contact Form -->
<script src="/js/mail.js?v=2"></script>

<script>
  if( document.location.hostname.indexOf('local') == -1 && document.location.hostname.indexOf('netlify') == -1 ){
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-44336963-11', 'auto');
    ga('send', 'pageview');
  }
</script>

</body>
</html>
