{{ define "main" }}
<div class="uv-rounds">  
  <header>
      {{ partial "topbar.html" . }}
      {{ partial "navigation.html" (dict "page" "news" ) }}
  </header>
  <div class="inner-banner">
      <img src="/images/news.jpg" alt="team">
  </div>     
  <!-- ============== Start up section ============== -->

<div class="what-we continua-news">
    <div class="container">
      <div class="row">
      <div class="col-sm-12 m48">
            <h1>{{ .Title }}<span class="all-level">{{ .Params.subtitle }}</span></h1>
        </div><!-- /.col-sm-12 -->
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 w100">
            {{ .Content }}
          </div><!-- /.col-lg-6 -->
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 w100">
            <figure>             
                {{ with .Params.Image1 }}   
                    <img src="{{ . }}">
                {{end}}
                {{ with .Params.Image1Caption }}   
                    <figcaption>
                        <h4>{{ . }}</h4>                    
                    </figcaption>    
                {{end}}                            
            </figure><br>
            <figure>             
                {{ with .Params.Image2 }}   
                    <img src="{{ . }}">
                {{end}}
                {{ with .Params.Image2Caption }}   
                    <figcaption>
                        <h4>{{ . }}</h4>                    
                    </figcaption>    
                {{end}}                            
            </figure><br>
            <figure>             
                    {{ with .Params.Image3 }}   
                        <img src="{{ . }}">
                    {{end}}
                    {{ with .Params.Image3Caption }}   
                        <figcaption>
                            <h4>{{ . }}</h4>                    
                        </figcaption>    
                    {{end}}                            
                </figure>                        
          </div><!-- /.col-lg-6 -->
      </div><!-- /.row -->
      </div><!-- /.container -->
  </div><!-- /.what-we -->

  {{ partial "footer.html" . }}
</div>
{{end}}


