<div class="collab-items-single col-lg-4 col-md-6 col-sm-6 col-xs-12 w100 hidden-item ">
  <a class="portfolio-items-single-url" href="{{.Permalink}}" title="{{ .Title }}">
    <div class="bg-purple item-container" style="padding-bottom: 30px;">

        <img src="{{ .Params.featuredImage.image }}" class="attachment-full" alt="folio7" />
        <div class="collab-item-info">
            <h4 class="text-white collab-item-company-name">{{ .Params.company.name }}</h4>
            <p class="portfolio-items-single-overlay-details-title text-white">{{ .Title }}</p>
        </div>
    </div>
  <img class="collab-arrow" src="../../images/icn_collab_arrow.svg"  />
  </a>
</div>