<div class="what-we blue-background">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 m48">
        <div class="title_number">02</div>
        <h1>Principal Consultant<span class="all-level">Lynne Ramsey,<span class="all-level degree-letters"> BA (Hons), MSc</span></span></h1>
      </div>
      <div class="col-xs-12">

        <div class="portrait-photo">
          <img src="/images/lynneramsey.jpg" alt="Lynne Ramsey" />
          <a class="portrait-linkedin" href="https://www.linkedin.com/in/lynneramsey">
            <img src="/images/linkedin.png" alt="Lynne Ramsey Linkedin" />
          </a>
        </div>

        <div class="consultant-content">
          {{ .Content }}
        </div>
      </div>
    </div>
  </div>
</div>