<footer>
    <div class="need-for-orange">
        <div class="container">
        <div class="row">
        <div class="border-footer">
              <div class="col-sm-12 call-to-action">
                  <a href="/contact/" class="more-button">Contact Continua</a>
              </div>
            
            <div class="col-lg-3 col-md-3 col-sm-12 w100 footer-logo">
                <a href="index.html"><img src="/images/continua-main.svg" alt="logo" /></a>
            </div><!-- /.col-lg-2 -->        
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 w100">
                <div class="footer-contact-address">
                    <ul class="menu-footer">
                        <li>Continua Solutions LLC</li>
                        <li>Houston, TX</li>
                        <li><a href="tel:18323146980">+1-832-314-6980</a></li>
                        <li><a href="mailto:info@continuasolutions.com">info@continuasolutions.com</a></li>
                    </ul>
                </div>
            </div><!-- /.col-lg-2 -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 w100">
                <!--<div class="international-clock">-->
                    <!--<div class="clock-header head-style">Aberdeen</div>
                    <img class="clock-icon" src="/images/clock_icon.jpg" alt="" /><br>-->
                    <!-- http://www.timeanddate.com/clocks/free.html -->            
                    <!--<iframe src="http://free.timeanddate.com/clock/i59pbxk0/n136/fc93a1a7" frameborder="0" width="116" height="18"></iframe>-->
                <!--</div>-->
            </div><!-- /.col-lg-3 -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 w100">
                <!--<div class="international-clock">-->
                    <!--<div class="clock-header head-style">Houston</div>
                    <img class="clock-icon" src="/images/clock_icon.jpg" alt="" /><br>-->
                    <!-- http://www.timeanddate.com/clocks/free.html -->                  
                    <!--<iframe src="http://free.timeanddate.com/clock/i59pbxk0/n158/fc93a1a7" frameborder="0" width="116" height="18"></iframe>-->
                <!--</div>-->            
            </div><!-- /.col-lg-3 -->                
        </div><!-- /.border-footer -->
        </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.need-for-orange -->	
        <div class="center">
            <p>Continua Solutions LLC</p>
        </div><!-- /.center -->
    </footer>