<div class="banner-structure">
    <ul class="banner_slider">
        {{ $slides := where .Data.Pages "Section" "slider" }}
        {{ range ($slides.ByParam "order") }}
        <li><img src="{{ .Params.Image }}" alt="banner" />
            <div class="text-banner">
            {{ with .Params.logo }}
                <img class="slider-logo" src="{{ . }}"/>
            {{ end }}                
            <h2 class="roboto">
                <!--<img class="banner-logo" src="images/continua-white.svg" alt="" />--></img>
                {{ .Params.heading | safeHTML }}
                {{ with .Params.subheading }}
                  <span>{{ . }}</span>                    
                {{ end }}
            </h2> 
        </div>
        </li>
        {{ end }} 
    </ul>

    <div id="bx-pager">
        {{ range $index, $item := ($slides.ByParam "order") }}
          <a data-slide-index="{{ $index }}" href=""><img src="{{ $item.Params.thumbnail }}" alt="banner-thumb" /></a>
        {{ end }}
        <!--
        <a data-slide-index="0" href=""><img src="images/continua.png" alt="banner-thumb" /></a>
        <a data-slide-index="1" href=""><img src="images/rig.png" alt="banner-thumb" /></a>
        <a data-slide-index="2" href=""><img src="images/graph.png" alt="banner-thumb" /></a>
        -->
    </div>
</div><!-- /.banner-structure -->