<!--
Twitter, Instagram, Pinterest, Facebook and LinkedIn.    
LinkedIn: https://www.linkedin.com/in/lynneramsey
Instagram:  https://www.instagram.com/continua_solutions/?hl=en
Twitter:   https://twitter.com/Continua2016
Facebook:  https://www.facebook.com/Continua-Solutions-271681293331712/?ref=bookmarks
Pinterest:  https://www.pinterest.com/kingfishers2008/pins/
-->

<div class="social-media-side-bar">
  <a href="https://www.linkedin.com/in/lynneramsey" title="linkedin">
    <div class="overlay"></div>
    <img src="/images/linkedin.png" alt=""/>
  </a>
  <a href="https://www.instagram.com/continua_solutions/?hl=en" title="instagram">
    <div class="overlay"></div>
    <img src="/images/instagram.png" alt=""/>
    </a>
  <a href="https://twitter.com/Continua2016" title="twitter">
    <div class="overlay"></div>
    <img src="/images/twitter.png" alt=""/>
  </a>      
  <a href="https://www.facebook.com/Continua-Solutions-271681293331712/?ref=bookmarks" title="facebook">
    <div class="overlay"></div>
    <img src="/images/facebook.png" alt=""/>
  </a>
  <a href="https://www.pinterest.com/kingfishers2008/pins/" title="pinterest">
    <div class="overlay"></div>
    <img src="/images/pinterest.png" alt=""/>
  </a>      
</div>