<div class="social-media-side-bar">
  <div class="social-media-wrap">
    <a href="https://www.linkedin.com/company/continua-solutions/" title="linkedin">
      <div class="overlay"></div>
      <img src="/images/linkedin.png" alt=""/>
    </a>
    <a href="https://www.instagram.com/continua_solutions/?hl=en" title="instagram">
      <div class="overlay"></div>
      <img src="/images/instagram.png" alt=""/>
      </a>
<!--     <a href="https://twitter.com/Continua2016" title="twitter">
      <div class="overlay"></div>
      <img src="/images/twitter.png" alt=""/>
    </a>      
    <a href="https://www.facebook.com/Continua-Solutions-271681293331712/?ref=bookmarks" title="facebook">
      <div class="overlay"></div>
      <img src="/images/facebook.png" alt=""/>
    </a>       -->
  </div>
</div>
