<div class="top-section">
    <div class="container">
    <div class="row">
    	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 w100">
    		<p>Continua Solutions LLC</p>
        </div><!-- /.col-lg-4 col-md-4 col-sm-4-->
        <div class="col-lg-8 col-md-8 col-sm-8 col-sx-8 w100">
        	<a href="mailto:info@continuasolutions.com" class="message  very-top">info@continuasolutions.com</a>
            <a href="tel:18323146980" class="phone">+1-832-314-6980</a>
        </div><!-- /.col-lg-8 col-md-8 col-sm-8 -->
    </div><!-- /.row -->
    </div><!-- /.container -->
  </div><!-- /.top-section -->