{{ define "main" }}
<div class="uv-rounds">
        
    <header>
        {{ partial "topbar.html" . }}
        {{ partial "navigation.html" (dict "page" "home" ) }}
    </header><!-- header -->
    
    <!-- ============== Banner section ============== -->
    
    <div class="home-banner bg-blue">
	    <div class="container">
		    <div class="col-lg-7">
		    	<h1 class="homeh">Continua is a small and friendly consultancy specializing in the development of ISO Certified Management Systems</h1>
		    </div>
		    <div class="col-lg-5 justify-center text-center">
	            <img src="images/continua-full-white.svg">
		    </div>
	    </div>
    </div>
    
    

	<div class="bg-lightblue">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<h2 class="homeh">Does your company want to implement, audit or improve an ISO certified management system?</h2>
					<p>It can be a daunting task.  Often it seems like there’s so much to do and not enough people (or time) to do it.  Where do you even begin?  Sometimes you can’t see the forest for all those trees.</p>
				</div>
		    <div class="col-lg-5 justify-center text-center">
	            	<img src="images/stick1.svg">
				</div>
				
			</div>
			
		</div>
		
	</div>
	<div class="bg-lightblue">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<h2 class="homeh">Whatever the challenge Continua can help</h2>
					<p>By working as “part of your team” Continua can capture all the things that your company already does well and implement improvements where they are of most value.  Sometimes it just takes a second set of eyes to see that forest more clearly.</p>
				</div>
		    <div class="col-lg-5 justify-center text-center">
	            	<img src="images/stick2.svg">
				</div>
				
			</div>
			
		</div>
		
	</div>


    <div class="bg-white">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 w100">                        
                    <div class=" text-style">
                       <div class="row">
                               <div class="col-lg-3 col-md-3 col-sm-4 col-xs-8">
                                    <img src="images/lynne-ramsay.jpg" style="width:80%; margin-bottom:15px;" class="" alt="meetings">
                                    <span style="display: block;">Lynne Ramsay<br />Principal Consultant</span>
                               </div>
                               <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                            <p>I genuinely believe that good, well-planned, management systems make everyone’s job a little easier and the company a whole lot better.</p>

							<p>With that in mind I work with a wide range of clients to develop organizational and operational processes that conform to ISO standards but, crucially, are fit-for-purpose and sustainable.</p>
								<img style="margin-top:30px; margin-bottom:30px; width: 100%;" src="images/stick3.svg">
 
							<p>The strongest systems build, bit by bit, upon established processes and existing good practice. To get the job done right I do my best to really listen to you and your team.  By capturing the organizations knowledge and understanding its challenges I provide meaningful process improvements that will be welcomed at all levels of your company</p>
							                        <div><img src="images/lynne-sig.svg" style="width:110px; margin-top: 20px;"></div>

                               </div>
                               
                            </div>
                        <!--<img src="images/continua-landscape.svg" class="inline-start-image" alt="meetings">-->
                    </div>
                </div>               
                {{ partial "owner" . }}
            </div>
        </div>
    </div>  
    
    <div class="bg-lightblue">
		<div class="container">
			<div class="row">
				<div class="col-12 text-center" style="margin-top: 30px;">
					<img src="images/stick4.svg">

				</div>
		   
			</div>
			
		</div>
		
	</div>  
	
	<div class="bg-blue" style="padding-top: 15px; padding-bottom: 15px; text-align: center;">
	<span style="display:inline-block; margin-right:30px;">Quality 9001</span><span style="display:inline-block; margin-right:30px; margin-left:30px;">Safety 45001</span><span style="display:inline-block; margin-left:30px;">Environment 14001</span>
	</div>
	
	
	<div class="bg-lightblue">
		<div class="container" style="margin-top: 30px; margin-bottom: 30px;">
			<div class="row">
				<div class="col-lg-6">
					<img src="images/achieving-perfection.png" style="margin-bottom: 20px;">
					<ul>
						<li>Readiness Reviews and Gap Assessments</li>
						<li>Stakeholder Assessments</li>
						<li>Strategy and Risk Workshops</li>
						<li>SWOT Assessments</li>
						<li>Process Mapping</li>
						<li>Management System Implementation Planning</li>
				</div>
				<div class="col-lg-6">
					<img src="images/improving-performance.png" style="margin-bottom: 35px;">
					<ul>
						<li>Process Metrics and Monitoring Plans</li>
						<li>Internal Audit Programs</li>
						<li>Management Review Facilitation</li>
						<li>Documentation Support</li>
						<li>System Maintenance and Trouble Shooting</li>
						<li>Continual Improvement Plans</li>
				</div>
		   
			</div>
			
		</div>
		
	</div>  
	
	<div class="bg-blue clients-logos">

		<div class="container">
			
			<h2 class="homeh" style="color: #fff; margin-top: 50px;">Clients</h2>
			
			<div class="row justify-items-center align-items-center" style="align-items: center;">
				
				<div class="col-6 col-sm-4 justify-center text-center">
					<img src="images/logo-total.svg">
				</div>
				<div class="col-6 col-sm-4 justify-center text-center">
					<img style="margin-top:10px;" src="images/logo-corrpro.svg">
				</div>
				<div class="col-6 col-sm-4 justify-center text-center">
					<img src="images/logo-vecor.svg">
				</div>
			</div>
			<div class="row justify-items-center align-items-center" style="align-items: center; margin-bottom: 50px;">
	
				<div class="col-6 col-sm-4 justify-center text-center">
					<img src="images/logo-3d.svg">
				</div>
				<div class="col-6 col-sm-4 justify-center align-middle text-center">
					<img style="margin-top:30px;" src="images/logo-knight.svg">
				</div>
				<div class="col-6 col-sm-4 justify-center text-center">
					<img style="margin-top:10px;" src="images/logo-pfam.svg">
				</div>
			
			</div>
			
		</div>
	
	</div>

	                      
    {{ partial "footer.html" . }}
        
    </div><!-- /.uv-rounds-wrapping -->
{{ end }}        
