{{ define "main" }}
<div class="uv-rounds">
        
    <header>
        {{ partial "topbar.html" . }}
        {{ partial "navigation.html" (dict "page" "home" ) }}
    </header><!-- header -->
    
    <!-- ============== Banner section ============== -->
    
    {{ partial "homeslider.html" . }}
    
    <div class="start-up">        
        <div class="container relative">
        <!--<img src="images/continua-landscape.svg" class="start-image" alt="meetings">-->
        <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-7 start-left text-style">                
                {{ range where .Site.Pages "Source.Path" "home.md" }}
                    {{ .Content }}
                {{ end }}
                <!--<img src="images/continua-landscape.svg" class="inline-start-image" alt="meetings">-->
            </div><!-- /.start-left -->
            <div class="col-lg-5 col-md-5 col-sm-5 start-right">
                <img src="/images/chalkboard.png"/>
                <!--<input type="button" class="more-service" value="more service"/>-->
            </div><!-- /.start-right -->
        </div><!-- /.row -->
        <div class="row home-page-lists">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <a href="#" class="data">
                    <h2>QHSE Management Systems</h2>
                    <ul class="services-list">
                        <li>Audit and review</li>
                        <li>Implementation and improvement planning</li> 
                        <li>ISO Pursuit: Quality, Safety and Environment</li>
                        <li>Compliance checks</li>
                        <li>Vendor assessments</li>
                    </ul>
                </a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <a href="#" class="client">
                    <h2>Environmental Support</h2>
                    <ul class="services-list">                        
                        <li>Environmental data reporting</li>
                        <li>Liaison between client and regulator</li>
                        <li>Air, waste and water strategy development</li>
                        <li>Day-to-day support to asset teams (inc. offshore production)</li>
                        <li>Environmental advisor to engineers (inc. FEED)</li>
                    </ul>
                </a>                
            </div>
        </div>
        </div><!-- /.container -->
    </div><!-- /.start-up -->

    <div class="team-section owner-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-6 col-xs-6 w100">                        
                    <div class="letter-style text-style">
                        “In 2016 I established Continua Solutions to ensure that I could continue to work with energy clients and trusted QHSE colleagues regardless of where this crazy market takes us!  Since the downturn we are all finding new ways of working; we are more lean and we are, perhaps, more innovative.  Continua embraces these changes and aims to play its part in ensuring that industry experience and knowledge is neither lost, nor reduced, during this time.  To this end collaboration, networking and continual learning are at the heart of my company.  It's an exciting time to be in the energy industry and I'm proud to work with clients and colleagues who are bringing a wealth of good practice and lessons learned into the new landscape of energy production.”                                        
                        <div class="signature">LYNNE</div>
                        <img src="images/continua-landscape.svg" class="inline-start-image" alt="meetings">
                    </div>
                </div>               
                {{ partial "owner" . }}
            </div>
        </div>
    </div>    
                      
    {{ partial "footer.html" . }}
        
    </div><!-- /.uv-rounds-wrapping -->
{{ end }}        